/* Set a purple color theme */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #673AB7; /* Purple background color */
    color: #fff; /* White text color */
}

h1 {
    color: #FFD700; /* Gold heading color */
}

label {
    color: #fff; /* White label color */
}

input {
    width: 50px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #FFD700; /* Gold button color */
    color: #673AB7; /* Purple button text color */
    border: none;
    cursor: pointer;
}

#ovulationDates {
    margin-top: 20px;
    background-image: url('purple_background.jpg'); /* Replace with your background image file */
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
