body {
    font-family: Arial, sans-serif;
    background-color: #f2e7ff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #8e44ad; /* Purple */
    margin-bottom: 20px;
}

h2 {
    margin-top: 10px;
    color: #8e44ad; /* Purple */
}

#record-period, #predict-period, #display-periods {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #8e44ad; /* Purple */
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

button {
    background-color: #8e44ad; /* Purple */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #662d91; /* Darker Purple */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: #8e44ad; /* Purple */
}
